[user]
	name  = KoynovStas
	email = skojnov@yandex.ru

[core]
	excludesfile = ~/.gitignore_global
	editor       = kate --startanon 2>/dev/null
	autocrlf     = input

[init]
	defaultBranch = master

[push]
	default = simple

[alias]
	ignore  = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
	rclone  = clone --recurse-submodules
	rpull   = pull  --recurse-submodules
